<div class="mt-4">
    <h3>Create Form</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input name="description" type="text" class="form-control" id="description">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>