<div class="my-4">
    <form class="row g-3" method="POST" action="">
        <div class="col-12">
            <label for="search-input" class="form-label">Keywords</label>
            <input class="form-control" name="q" type="text" id="search-input" placeholder="Enter the keywords" />
        </div>
        <div class="col-12">
            <label for="gender-input" class="form-label">Chọn giới tính</label>
            <select class="form-select" name="gender" id="gender-input">
				<option value="">Gender</option>
				<option value="1">Nam</option>
				<option value="2">Nữ</option>
			</select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>